@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* rocket theme */
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

html,
body {
	@apply h-full overflow-hidden;
}

.modal-backdrop {
	overflow-y: hidden;
}

:root {
	--donation-color: rgba(166, 33, 233)
}

.info-section {
	@apply bg-surface-700 rounded-md p-2;
}